$poppinsFont: "Poppins", sans-serif;
$bebasNeue: "Bebas Neue", cursive;

$whiteColor: #f4f4f4;
$blackColor: #222;
$bodyBg: #0f0f0f;
$mainColor: #ff5313;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;
